<form class="d-flex my-3" role="search">
  <input class="form-control me-2" type="search" placeholder="Buscar Agências" aria-label="Search">
  <button class="btn btn-outline-light" type="submit">Pesquisar</button>
</form>
<table class="table table-dark table-hover table-bordered align-middle">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id Banco</th>
            <th scope="col">Endereço</th>
            <th scope="col">Fone</th>
            <th scope="col">Tipo</th>
            <th scope="col">Fone 1</th>
            <th scope="col">Tipo 1</th>
            <th scope="col">Agencia</th>
            <th scope="col">Nome da Agencia</th>
            <th scope="col" class="text-center">Ações</th>
        </tr>
    </thead>
    {{#each allAgencies}}
    <tbody>
        <th scope="row">{{id}}</th>
        <td scope="row">{{id_banco}}</td>
        <td scope="row">{{endereco}}</td>
        <td scope="row">{{fone}}</td>
        <td scope="row">{{tipo}}</td>
        <td scope="row">{{fone1}}</td>
        <td scope="row">{{tipo1}}</td>
        <td scope="row">{{agencia}}</td>
        <td scope="row">{{nome_agencia}}</td>
        <td class="text-center">
            <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-eye"></i> Ver</a>
            <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-pencil"></i> Editar</a>
            <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-x-lg"></i> Excluir</a>
        </td>
    </tbody>
    {{/each}}
</table>